{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar</title>
</head>
<body class="fondo">
    <div class="container">
        <h2>Modificar Producto</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label for="{{ form.field.name }}"> 
                    {{ form.nombre.label}}
                </label>
                {{ form.nombre }}
            </div>

            <div class="row">
                <label for="{{form.field.name }}"> 
                    {{ form.descripcion.label}}
                </label>
                {{ form.descripcion }}
            </div>

            <div class="row">
                <label for="{{form.field.name }}"> 
                    {{ form.imagen.label}}
                </label>
                {{ form.imagen }}
            </div>
            <br><br>

            <div class="row">
                <div class="col-md">
                    <input type="submit" class="btn btn-primary" value="Modificar">
                    <a href="{% url 'index' %}" class="btn btn-success">Inicio</a>
                </div>
            </div>

        </form>
    </div>
</body>
</html>
{% endblock %}